*{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

body{
    background-color: #ffd462; 
}

.logo{
    margin-left: 3%;
    margin-top: 5%;
}

main{
    display: flex;
    flex-wrap: wrap;
    margin-left: 80px;
    margin-bottom: 50px;
}

.input-texto{
    margin-top: 90px;
    border-radius: 7px;
    background-color: #f6d992;
    box-shadow: rgb(68,68,68) 10px 10px 30px 15px;
}

.mensaje{
    position: relative;
    margin-top: 20px;
    margin-left: 90px;
    border-radius: 7px;
    background-color: #f6d992;
    background-image: url("imagenes/Muñeco.png");
    background-repeat: no-repeat;
    background-position: 18px;
    background-size: 300px;
    box-shadow: rgb(68,68,68) 10px 10px 30px 15px;
}

.copiar{
    position: relative;
    margin-top: 20px;
    margin-left: 205px;
    background-color: #f6d992;
    border-radius: 7px;
    box-shadow: rgb(68,68,68) 10px 10px 30px 15px;
}

.botones{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    
}

.encriptar{
    background-color: #0c4480;
    color: white;
    border-radius: 10px;
    box-shadow: rgb(68,68,68) 10px 10px 30px 15px;
}

.desencriptar{
    margin-left: 120px;
    background-color: #f6d992;
    border-radius: 10px;
    box-shadow: rgb(68,68,68) 10px 10px 30px 15px;
}

.informacion{
    font-size: 15px;
}

footer{
    text-align: center;
    background-color: #a06709;
    padding: 2em;
}

@media screen and (max-width:480px){
    .input-texto, .mensaje, .copiar{
        width: auto;
    }
    .mensaje-box{
        width: 100%;
    }
    footer{
        width: 100%;
    }
}