*{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

body{
    background-color: #6dbfd3;
}

header{
    
}

.logo{
    margin-left: 3%;
    margin-top: 5%;
}

main{
    display: flex;
    margin-left: 80px;
    margin-bottom: 50px;
}

.input-texto{
    margin-top: 90px;
}

.mensaje{
    position: relative;
    margin-top: 20px;
    margin-left: 90px;
    background-image: url("imagenes/Muñeco.png");
    background-repeat: no-repeat;
    background-position: 18px;
    background-size: 300px;
}

.copiar{
    position: relative;
    margin-top: 20px;
    margin-left: 205px;
    border-radius: 7px;
}

.botones{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    
}

.encriptar{
    background-color: darkblue;
    color: white;
    border-radius: 10px;
}

.desencriptar{
    margin-left: 30px;
    border-radius: 10px;
}

.informacion{
    font-size: 15px;
}

footer{
    text-align: center;
    background-color: orchid;
    padding: 10%;
}